.recipe{
    border-radius: 10px;
    box-shadow: rgb(71,71,71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(80, 220, 213 , 0.5);
    align-items: center;
    min-width: 40%;
}