.info{
    padding: 1rem;
    text-align: center;
    background-color: rgb(80, 220, 213 , 0.5);
    width: 37rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ingredients{
    width: 10rem;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.recipe-image{
    width: 23rem;
    margin-bottom: 2rem;
    border-radius: 180px;
}

.title-recipe{
    background-color: rgb(215, 211, 121, 0.4);
    width: 40%;
    font-size: 3rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    border: .25rem solid;
    margin-bottom: 2rem;
}